<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.icSpring.protocol-X00</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册权限以保存拍摄的照片</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要访问相册权限以保存拍摄的照片</string>
</dict>
</plist>
